:root {
--my-red:    #8f4c4c;
--my-orange: #F5A44F;
--my-yellow: #FEC073;
/* --my-green:  #275b27; */
/* --my-blue:   #212183; */
/* --my-purple: #520c52; */
/* --my-magenta:#941a94; */
/* --my-pink:   #9a6870; */
/* --my-brown:  #76371a; */
/* --my-gold:   #FFE8A5; */
/* --my-cyan:   #0e7f7f; */
/* --my-skyblue:#3d9dc3; */
--my-black:  #001A25;
/* --my-gray:   #464343; */
--my-white:  #f6f4e1;
/* --my-dkgray: #26272d; */
/* --my-ltgray: #cecaca; */

--font1: Georgia, 'Times New Roman', Times, serif;
--font2: Arial, sans-serif;
}
* {
    /* border: 2px dotted red; */
    background: var(--my-black);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font1);
    margin: 4rem;
    padding: 5px;
        font-family: var(--font2);
        font-size: 1rem;
}

p {
    font-size: 1rem;
}

header {
    background: var(--my-black);

    color: var(--my-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-variant: small-caps;
    font-size: 1rem;

}

header img {
    width: 10rem;
    padding: 0 20px 0 20px;
}

header h1 {
    font-family: var(--font1);
    font-size: 3rem;
}

pic-text-form-container {
        /* border: 5px double var(--my-orange); */
    display: flex;
    flex-direction: row;
        margin: 20px;
}

pic-container img {
    width: 80vh;
    background: var(--my-black);
    display: flex;
    flex: 2;

}

pic-container p{
    background: var(--my-black);
    color: var(--my-white); 
}


text-and-form-container {
    background: var(--my-black);
    color: var(--my-white);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

text-container {

    font-size: 1.2rem;
    
}
text-container p {
    font-variant: normal;
    font-size: 1.25rem;

}

lecture-container  {
    color: var(--my-gold);
    font-size: 2.5rem;
    padding: 5px;

    font-variant: small-caps;
}
presenter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
presenter-container img {
    height: 15vh;
    /* border: 5px double var(--my-red); */
    border-radius: 30px;;
    margin: 5px;
    padding: 10px;
}



form-container {

    font-variant: small-caps;
}

a {
    color: var(--my-white);
}

p {
    color: var(--my-white);
  
    font-variant: small-caps;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 10px;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "\25CF";
  padding-right: 5px;
  
  color: var(--my-orange);

}

li::marker {

}

hr {
    border: 1px solid var(--my-orange);
}

fieldset {
    width: auto;
    border: 3px double var(--my-orange);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    padding: 5px 0 8px 0;
}


input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 25ch;
    display: flex;
    align-items: center;
    justify-content: center;
        background: var(--my-orange);
        color: var(--my-black);
    /* margin-right: 5px; */
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
    text-align: left;
}

input[type="radio"], input[type="checkbox"] {
display: inline-flex;
display: row;
flex-wrap: wrap;
align-items: start;
justify-content: start;
padding-left: 3px;   


}

input[type="radio"], input[type="checkbox"] {
accent-color: var(--my-orange);
}

input:focus {
    background: var(--my-black);
    border: 3px solid var(--my-white);
    color: var(--my-white);
}

button {
    height: 2rem;
    width: 5rem;
    background: var(--my-white);
    border: 2px solid var(--my-black);
    border-radius: 50px;
    color: var(--my-black);

        font-size: 1.25rem;
    font-variant: small-caps;
    font-weight: 700;

}

div button {

    margin-top: 20px;

}

button:hover {
    background: var(--my-orange);
    color: var(--my-black);
}

button:active {
transform: scale(.9);
border: 2px dotted var(--my-black)
}

