@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* Table of Contents                            */
/* 1. Root Variables and Global Elements        */
/* 2. Sections and Section Targeted Elements    */
/* 3. Form-Only Elements                        */
/* 4. Misc. and Media Queries                   */

/* ******************************************** */


/* 1. Root Variables and Global Elements */

:root {
--my-blue:   #93b8e8;
--my-orange: #f1b347;
--my-yellow: #e8bd88;
--my-white:  #f3f0d3;
--my-gray:   #2b2a27;
--my-black:  #001A25;

--font1: "Cinzel", serif;
--font2: "Roboto", sans-serif;
--font3: "Rakkas", serif;

--f-size-sm: 1rem;
--f-size-md: 1.25rem;
--f-size-lg: 1.5rem;
--f-size-title: 3rem;
}

* {
    background: var(--my-black);    
    /* Keep border entry below for testing */
    /* border: 2px dotted red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--my-yellow);
    font-size: var(--f-size-md);
}

a:visited {
    color: var(--my-blue);
}

p {
    color: var(--my-white);
    font-size: var(--f-size-md);
}

hr {
    border: 1px solid var(--my-orange);
}

ul {
    font-size: var(--f-size-md);    
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}

li {
    padding-bottom: 5px;
    padding-left: 1em;
    text-indent: -1.25em;
}

li:before {
  content: "\25CF";
  padding-right: 15px;
  color: var(--my-orange);
}

/* 2. Sections and Section Targeted Elements    */

body {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    font-family: var(--font2);    
    margin: 4rem;
    padding: 5px;
}

header {
    background: var(--my-black);
    color: var(--my-white);
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
}

header img {
    width: 9rem;
    padding: 0 20px 0 20px;
}

header h1 {
    font-family: var(--font1);
    font-size: var(--f-size-title);
    text-align: center;
}

pic-text-form-container {
    display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    margin: 10px;
}

pic-container img {
    width: 30vw;
}

text-and-form-container {
    max-width: 750px;
    min-width: 15vw;
    background: var(--my-black);
    color: var(--my-white);
    display: flex;
        flex-direction: column;
    padding: 40px;
}

lecture-container  {
    color: var(--my-blue);
    font-family: "Rakkas", serif;
    font-size: var(--f-size-title);
    /* padding: 5px; */
}

presenter-container {
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
}

presenter-container img {
    width: 11rem;
    border-radius: 50px;;
    margin: 5px;
    padding-right: 20px;
}

/* 3. Form Specific Elements             */

fieldset {
    border: 3px double var(--my-orange);
    border-radius: 10px;;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-evenly;
    font-size: var(--f-size-md);
    padding: 5px 0 10px 0;
}

div {
    padding-top: 3px;
}

label {
    margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 25ch;
    background-image: linear-gradient(var(--my-yellow), var(--my-orange)); 
    color: var(--my-black);   
    display: flex;
    font-size: var(--f-size-md);
    font-weight: 700;
    padding: 5px;
    text-align: left;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: var(--my-orange);    
    display: inline-flex;
        flex-wrap: wrap;
        /* align-items: start; */
        /* justify-content: start; */
    margin: 5px;   
}

input:focus {
    background: var(--my-black);
    border: 3px solid var(--my-white);
    color: var(--my-white);
}

button {
    height: 2.5rem;
    width: 6rem;
    background: var(--my-white);
    border: 2px solid var(--my-white);
    border-radius: 50px;
    color: var(--my-black);
    font-size: var(--f-size-md);
    font-weight: 700;
    margin-top: 20px;
}

.checkbox-all {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: start;
    padding-left: 5px;

}

.checkbox-pairs {
    display: flex;
    flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
}

.password-check {
    color: var(--my-orange);
    font-size: var(--f-size-sm);
    padding-top: 3px;
}

button:hover {
    background: var(--my-orange);
    color: var(--my-black);
}

button:active {
transform: scale(.9);
border: 2px solid var(--my-white)
}

/* 4. Misc. and Media Queries                   */

