@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* Table of Contents                            */
/* 1. Root Variables and Global Elements        */
/* 2. Sections and Section Targeted Elements    */
/* 3. Form-Only Elements                        */
/* 4. Misc. and Media Queries                   */

/* ******************************************** */


/* 1. Root Variables and Global Elements */

:root {
--my-red:    #7c2f2f;
--my-blue:   #93b8e8;
--my-orange: #f1b347;
--my-yellow: #e8bd88;
--my-white:  #f3f0d3;
--my-gray:   #2b2a27;
--my-black:  #001A25;

--font1: "Cinzel", serif;
--font2: "Roboto", sans-serif;
--font3: "Rakkas", serif;

--f-size-sm: 1rem;
--f-size-md: 1.25rem;
--f-size-lg: 1.5rem;
--f-size-title: 2.5rem;
}

* {
    /* Keep border entry below for testing */
    /* border: 1px dotted red; */
    box-sizing: border-box;
}

a {
    color: var(--my-yellow);
    font-size: var(--f-size-md);
}

a:visited {
    color: var(--my-blue);
}

p {
    color: var(--my-white);
    font-size: var(--f-size-md);
}

hr {
    border: 1px solid var(--my-orange);
}

ul {
    font-size: var(--f-size-md);    
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}

li {
    padding-bottom: 5px;
    padding-left: 1em;
    text-indent: -1.25em;
}

li:before {
  content: "\25CF";
  padding-right: 15px;
  color: var(--my-orange);
}

/* 2. Sections and Section Targeted Elements    */

body {
    background: var(--my-black);
    display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    font-family: var(--font2);   
    margin: 0;
    padding: 0;
}

header {
    background: var(--my-red);
    color: var(--my-white);
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    padding: 1rem;
}

header img {
    width: 8rem;
    padding-right: 10px;
}

header h1 {
    font-family: var(--font1);
    font-size: var(--f-size-title);
    padding: 0;
    text-align: left;
}

pic-text-form-container {
    background: var(--my-black);
    display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
}

pic-container img {
    width: 25vw;
    padding-top: 25px;
}

text-and-form-container {
    max-width: 750px;
    min-width: 15vw;
    color: var(--my-white);
    display: flex;
        flex-direction: column;
    padding: 10px;
}

text-container {
    margin: 0;
}
text-container h2 {
    margin: 0;
}

lecture-container  {
    color: var(--my-blue);
    display: flex;
    font-family: "Rakkas", serif;
    font-size: var(--f-size-title);
}

presenter-container {
    display: flex;
        flex-direction: row;
}

presenter-container img {
    width: 11rem;
    border-radius: 50px;;
    margin: 5px;
    padding-right: 20px;
}

/* 3. Form Specific Elements             */

fieldset {
    border: 3px double var(--my-orange);
    border-radius: 10px;;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-evenly;
    font-size: var(--f-size-md);
    padding: 5px 0 10px 0;
}

div {
    padding-top: 3px;
}

label {
    margin-right: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 27ch;
    background-image: linear-gradient(var(--my-yellow), var(--my-orange)); 
    color: var(--my-black);   
    display: flex;
    font-size: var(--f-size-md);
    font-weight: 700;
    padding: 5px;
    text-align: left;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: var(--my-orange);    
    display: inline-flex;
}

input:focus {
    background: var(--my-black);
    border: 3px solid var(--my-white);
    color: var(--my-white);
}

button {
    height: 2.5rem;
    width: 6rem;
    background: var(--my-white);
    border: 2px solid var(--my-white);
    border-radius: 50px;
    color: var(--my-black);
    font-size: var(--f-size-md);
    font-weight: 700;
    margin-top: 20px;
}

.radio-checkbox-all {
    display: flex;
        flex-direction: row;
    padding-left: 5px;
}

.radio-checkbox-pairs {
    display: flex;
        flex-direction: column;
}

.password-check {
    color: var(--my-orange);
    font-size: var(--f-size-sm);
    padding-top: 3px;
}

button:hover {
    background: var(--my-orange);
    color: var(--my-black);
}

button:active {
transform: scale(.9);
border: 2px solid var(--my-white)
}

/* 4. Misc. and Media Queries                   */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--my-orange);
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 320px;
  background-color: var(--my-red);
  color: var(--my-white);
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: var(--f-size-md);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--my-red) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


@media (width >= 865px) {
    
lecture-container img {
    visibility: hidden;
    width: 0;
}
}


@media (width < 865px) {

p, a, ul {
    font-size: var(--f-size-sm);
}

header img {
    width: 3.5rem;
    padding-right: 8px;
}
header h1 {
    font-size: var(--f-size-lg);
}

pic-text-form-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

pic-container img {
    visibility: hidden;
    width: 0;
}

text-and-form-container {
    /* max-width: 750px; */
width: 90vw;
    padding: 5px;
}

lecture-container  {
    font-size: var(--f-size-title);
}

lecture-container img {
    width: 22vw;
    padding-right: 10px;
}

presenter-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
}

presenter-container img {
    width: 20rem;
    border-radius: 50px;;
    margin: 5px;

}


input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 27ch;
}    

}

@media (width < 560px) {

lecture-container  {
    font-size: var(--f-size-lg);
}
   
lecture-container img {
    visibility: hidden;
    width: 0;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 24ch;
} 

.radio-checkbox-all {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    padding-left: 5px;
}

}